<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
        Noticia
    </title>
    <%- include ('partials/head.html') %>

</head>

<body>

  <header th:replace="Plantillas/template :: header"> </header>
  <div class="wrapper">
    <div th:replace="Plantillas/template :: div.sidebar"></div>
    <div class="main_content">



      <div class="container">

        <h1 th:text="${titulo}"></h1>
      </div>

      <div class="container">



        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Noticia</th>
              <th scope="col">Acciones</th>

            </tr>
          </thead>
          <tbody>
            <tr th:each="mj:${mensajes}">
              </th>
              <th scope="row" th:text="${mj.id_mensaje}"></th>
              <td th:text="${mj.noticia.titulo}"></td>
              <td> <a class="btn btn-primary btn-sm"
                  th:href="@{/user/views/noticias/anotaciones/ver/}+ ${mj.id_mensaje}" th:text="'Ver'"
                  title="Ver mensaje"></a>
                </a>
              </td>

          </tbody>
        </table>

      </div>
    </div>
  </div>
  </div>

</body>
<footer th:replace="Plantillas/template :: footer"></footer>

</html>