{{> navigation}}

<div class="wrapper">
  <div class="main_content">
    <div class="row">
      <div class="col-6" id="imageninicio">
        <img id="imginiciolog" src="/img/iniciologo.png">
      </div>
      <div class="col-4">
        <div id="textoinicio">
          <h3 id="letrasinicio">UNIÓN ES LOGRO<br>PERIÓDICO DIGITAL</h3>
        </div>
      </div>
      <div class="col-1" id="inicio-logos-social">
        <ul>
          <li>
            <img src="/img/wplogo.png">
          </li>
          <li>
            <div id="logo-social">
              <a target="_blank" href="https://www.facebook.com/unioneslogro/">
                <img src="/img/fblogo.png">
              </a>
              
            </div>
          </li>
          <li>
            <div id="logo-social">
              <img src="/img/iglogo.png">
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Secciones de noticias-->
    <div class="container">
      <div class=""><!--Mundiales-->
        <div id="listadoseccion">
          <div class="row" id="tit-secc-inicio">
            <div class="col-6">
              <h6 class="box_header page_margin_top">NOTICIAS MUNDIALES</h6>
            </div>
            <div class="col-6" id="vermassecc">
              <a href="/noticias/tag/1">
                <h6 class="box_header page_margin_top" id="vermasseccion">VER MÁS</h6>
              </a>
            </div>
             <div class="noticia-carta">
                {{#each data.mundial}}
                {{>cartanota}}
                {{/each}}
              </div>
          </div>
        </div>
      </div>

      <div class=""><!--LOCALES-->
        <div id="listadoseccion">
          <div class="row" id="tit-secc-inicio">
            <div class="col-6">
              <h6 class="box_header page_margin_top">NOTICIAS LOCALES</h6>
            </div>
            <div class="col-6" id="vermassecc">
              <a href="/noticias/tag/2">
                <h6 class="box_header page_margin_top" id="vermasseccion">VER MÁS</h6>
              </a>
            </div>
            <div class="noticia-carta">
                {{#each data.local}}
                {{>cartanota}}
                {{/each}}
              </div>
          </div>
        </div>
      </div>

      <div class=""><!--DEPORTES-->
        <div id="listadoseccion">
          <div class="row" id="tit-secc-inicio">
            <div class="col-6">
              <h6 class="box_header page_margin_top">NOTICIAS DEPORTES</h6>
            </div>
            <div class="col-6" id="vermassecc">
              <a href="/noticias/tag/3">
                <h6 class="box_header page_margin_top" id="vermasseccion">VER MÁS</h6>
              </a>
            </div>
            <div class="noticia-carta">
                {{#each data.deportes}}
                {{>cartanota}}
                {{/each}}
              </div>
          </div>
        </div>
      </div>
      
      <div class=""><!--GASTRONOMIA-->
        <div id="listadoseccion">
          <div class="row" id="tit-secc-inicio">
            <div class="col-6">
              <h6 class="box_header page_margin_top">NOTICIAS GASTRONOMIA</h6>
            </div>
            <div class="col-6" id="vermassecc">
              <a href="/noticias/4">
                <h6 class="box_header page_margin_top" id="vermasseccion">VER MÁS</h6>
              </a>
            </div>
            <div class="noticia-carta">
                {{#each data.gastro}}
                {{>cartanota}}
                {{/each}}
              </div>
          </div>
        </div>
      </div>
      
      <div class=""><!--DESARROLLO TEC-->
        <div id="listadoseccion">
          <div class="row" id="tit-secc-inicio">
            <div class="col-6">
              <h6 class="box_header page_margin_top">NOTICIAS DESARROLLO TECNOLÓGICO</h6>
            </div>
            <div class="col-6" id="vermassecc">
              <a href="/noticias/tag/5">
                <h6 class="box_header page_margin_top" id="vermasseccion">VER MÁS</h6>
              </a>
            </div>
            <div class="noticia-carta">
                {{#each data.tec}}
                {{>cartanota}}
                {{/each}}
              </div>
          </div>
        </div>
      </div>
      
      <div class=""><!--KIDS-->
        <div id="listadoseccion">
          <div class="row" id="tit-secc-inicio">
            <div class="col-6">
              <h6 class="box_header page_margin_top">NOTICIAS KIDS</h6>
            </div>
            <div class="col-6" id="vermassecc">
              <a href="/noticias/tag/6">
                <h6 class="box_header page_margin_top" id="vermasseccion">VER MÁS</h6>
              </a>
            </div>
            <div class="noticia-carta">
                {{#each data.kids}}
                {{>cartanota}}
                {{/each}}
              </div>
          </div>
        </div>
      </div>
      
      <div class=""><!--ARTE Y CULTURA-->
        <div id="listadoseccion">
          <div class="row" id="tit-secc-inicio">
            <div class="col-6">
              <h6 class="box_header page_margin_top">NOTICIAS ARTE Y CULTURA</h6>
            </div>
            <div class="col-6" id="vermassecc">
              <a href="/noticias/tag/7">
                <h6 class="box_header page_margin_top" id="vermasseccion">VER MÁS</h6>
              </a>
            </div>
            <div class="noticia-carta">
                {{#each data.arte}}
                {{>cartanota}}
                {{/each}}
              </div>
          </div>
        </div>
      </div>
      
      <div class=""><!--MEDIO AMBIENTE-->
        <div id="listadoseccion">
          <div class="row" id="tit-secc-inicio">
            <div class="col-6">
              <h6 class="box_header page_margin_top">NOTICIAS MEDIO AMBIENTE</h6>
            </div>
            <div class="col-6" id="vermassecc">
              <a href="/noticias/tag/8">
                <h6 class="box_header page_margin_top" id="vermasseccion">VER MÁS</h6>
              </a>
            </div>
            <div class="noticia-carta">
                {{#each data.ambi}}
                {{>cartanota}}
                {{/each}}
              </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

{{> footer}}