{{> navigation}}

<div class="wrapper">
  <div class="main_content">
    <div class="row">
      <div class="col-6" id="imageninicio">
        <img id="imginiciolog" src="/img/iniciologo.png">
      </div>
      <div class="col-4">
        <div id="textoinicio">
          <h3 id="letrasinicio">UNIÓN ES LOGRO<br>PERIÓDICO DIGITAL</h3>
        </div>
      </div>
      <div class="col-1" id="inicio-logos-social">
        <ul>
          <li>
            <img src="/img/wplogo.png">
          </li>
          <li>
            <div id="logo-social">
              <img src="/img/fblogo.png">
            </div>
          </li>
          <li>
            <div id="logo-social">
              <img src="/img/iglogo.png">
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div id="fb-root"></div>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v11.0"
      nonce="pNKTv1lK">
      </script>

    <!-- Secciones de noticias-->
    <div class="container">
      <div class="col-12"><!--Mundiales-->
        <div id="listadoseccion">
          <div class="row" id="tit-secc-inicio">
            <div class="col-6">
              <h6 class="box_header page_margin_top">NOTICIAS MUNDIALES</h6>
            </div>
            <div class="col-6" id="vermassecc">
              <a href="/noticias/1">
                <h6 class="box_header page_margin_top" id="vermasseccion">VER MÁS</h6>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-group" id="listadenotas">
        {{#each mundial}}
        <div class="card" id="noticia-enlistada">
          <img src="/img/noticias-imagenes/{{id_noticia}}/{{img0}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{titulo}}</h5>
            <p class="card-text">{{contenido}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{> footer}}