<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Plantillas/template :: head">
    <title>Noticia</title>
  
</head>
<body>
    
  <header th:replace="Plantillas/template :: header"> </header>
<div class="wrapper">
  <div th:replace="Plantillas/template :: div.sidebar"></div>
<div class="main_content">


      
  <div class="container">
    
      <h1 th:text="${titulo}"></h1>
  </div>
  
  <div class="container">
    

    <a class="btn btn-primary btn-sm" th:href="@{/user/views/noticias/crear}" th:text="'Nueva Noticia'" title="Crear Nuevo Registro"></a> 
    <table class="table">
        <thead class="table-dark">
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Titulo</th>
              <th scope="col">Estado</th>
              <th scope="col">Autor</th>
              <th scope="col">Acciones</th>
             
              </tr>
        </thead>
        <tbody>
          <tr th:each="nt:${noticias}"></th>
          <th scope="row" th:text="${nt.id_noticia}"></th>
          <td  th:text="${nt.titulo}"></td>
          <td  th:text="${nt.estado}"></td>
          <td  th:text="${nt.usuario.nombres + ' ' + nt.usuario.apellidos}" ></td>
          <td>  <a class="btn btn-primary btn-sm" th:href="@{/user/views/noticias/ver/}+${nt.id_noticia}" 
            th:text="'Ver'" title="Ver noticia"></a>
            
            <a class="btn btn-success btn-sm" th:href="@{/user/views/noticias/edit/}+${nt.id_noticia}"
          th:text="'Editar'" title="Modificar Registro"></a>
        
            <a class="btn btn-danger btn-sm" th:href="@{/user/views/noticias/delete/}+${nt.id_noticia}"
            th:text="'Eliminar'" title="Eliminar Registro"
            onclick="return confirm('¿Esta seguro de eliminar esta noticia?');"
            ></a>
          </td>
          
        </tbody>
      </table>
      
</div>
</div>
</div>
</div>

</body>
<footer th:replace="Plantillas/template :: footer"></footer>
</html>