{{> navigation}}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v11.0"
  nonce="pNKTv1lK"></script>
<img style="width:100%;" src="/img/nosotros.PNG" id="img-top">
<div id="bordeado">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-8">
          <p id="textnosotros">Unión es logro se fundó el 26 de diciembre de 2018 como un movimiento social en pro de la
            mujer que evolucionaría como una desarrolladora e impulsora de proyectos sociales y empresariales
            autosustentables para el beneficio de la humanidad y el medio ambiente.</p>
          <p id="textnosotros">Empezamos con iniciativas como taxi seguro, que proponía a las mujeres, compartir los
            contactos de sus taxistas de confianza con otras mujeres, para así crear una comunidad en Facebook que
            pudiera tener acceso a la información de dichos conductores, como número de filial al sindicato de taxistas,
            una foto de identificación, número de teléfono, número de serie del taxi, y comentarios sobre clientes con
            el requisito de que dolo mujeres podían recomendar a los taxistas
          </p>
        </div>
        <div class="col-4">
          <img style="width:90%;" src="/img/tigrenosotros.PNG">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <img style="width:80%;" src="/img/tucannosotros.PNG">
        </div>
        <div class="col-8">
          <p id="textnosotros">También creamos campañas de manera digital para concienciar a la población sobre la
            importancia de cuidar el medio ambiente y campañas sobre salud psicológica para combatir la violencia y por
            otro lado llevamos psicólogos a impartir terapias a las escuelas y a centros gubernamentales.</p>
          <p id="textnosotros">Unión es logro el periódico digital es una manera de generar recursos para así poder
            seguir financiando nuestro movimiento y el de otros. </p>
          <p id="textnosotros">Buscamos llevar noticias con impactos positivos para los lectores y también llevar
            trabajos a jóvenes estudiantes, a adultos mayores que quieren seguir generando ingresos, siempre con la
            dirección de editores profesionales.</p>

        </div>
      </div>

    </div>
    <div class="col-3">
      <div class="fb-page" data-href="https://www.facebook.com/unioneslogro/" data-tabs="timeline" data-width=""
        data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
        data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/unioneslogro/" class="fb-xfbml-parse-ignore"><a
            href="https://www.facebook.com/unioneslogro/">Unión es logro</a></blockquote>
      </div>
    </div>
  </div>

</div>
<div id="bordeado">
  <div class="row" id="centrar">

    <div class="col-3">
      <div id="imagenes" style="margin-bottom: 14%; ">
        <img id="iconos" src="/img/target.png">
      </div>
      <h3 id="textopcentrado">OBJETIVO</h3>
      <p id="textopcentrado">Lorem ipsum dolor sit amet</p>

    </div>
    <div class="col-3">
      <div id="imagenes" style="margin-bottom: 6%;">
        <img id="iconos" src="/img/montana.png">
      </div>
      <h3 id="textocentrado">MISION</h3>
      <p id="textocentrado">Lorem ipsum dolor sit amet</p>
    </div>
    <div class="col-3">
      <div id="imagenes" style="margin-bottom: 0%;">
        <img id="iconos" src="/img/vision.png">
      </div>
      <h3 id="textocentrado">VISION</h3>
      <p id="textocentrado">Lorem ipsum dolor sit amet</p>
    </div>
    <div class="col-3">
      <img id="iconos" src="/img/diamante.PNG">
    </div>

  </div>
</div>
<div id="bordeado">
  <div class="row">
    <h4 id="tituloseccion">EQUIPO</h4>
  </div>
  <div class="row">
    <div class="col-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </div>
    <div class="col-8">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </div>
  </div>

</div>

{{> footer}}