<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

  <head th:replace="Plantillas/template :: head">
    
  
</head>

<body>
  <div id="fb-root"></div>

  <header th:replace="Plantillas/template :: header"></header>
  <img style="width:100%;" th:src="@{${imagenSeccion}}" id="img-top">

<div id="bordeado" class="content-note-seccion">
 
<div class="container" id="content-seccion">
  <div class="row">
<div class="SeccionTit">
  <img  th:src="@{${logoSeccion}}" class="izquierda">
  <h4 th:text="${tituloSeccion}" id="tituloseccion"></h4>

</div>
</div>
<div class="row">

 
    <div class="col-12" id="notseccion">
      <h4 name="recordatorio" id="recordatorio"  th:text="${recordatorio}"></h4>
        <ul class="blog small clearfix" id="noticiasenlista" th:each="nt:${noticias}">
          
            <li class="post" id="noticiasseccion">
             
              <div class="unanoticia">   
                <div class="row">
                  <div class="col-4" >
                    <div id="seccionautor">
                    <img id="fotoautor" th:src=@{/img/fotoperfil.jpg}>
                    <div id="centrar">
                    <h5 id="textoautor">Publicado por</h5>
                    <h5 id="textoautor" th:text="${nt.usuario.nombres + ' ' + nt.usuario.apellidos}"></h5>
                    <h5 id="textoautor">03/11/2021</h5>
                    <h5 id="textoautor">01:12 p.m.</h5>

                  </div>
                  </div>
                </div>
                  <div class="col-8">
                    <div class="row" id="bordeadoseccion"> 
                      <div id="tituloespacio">
                      <h6 id="titulonoticiaseccion">
                      <a id="titulonoticiasecciona" th:href="@{/views/noticias/verNoticia/}+${nt.id_noticia}" th:text="${nt.titulo}" ></a>
                    </h6>
                  </div>
                    </div>
                    <div class="row" id="imagennoticiasborde">
              <a th:href="@{/views/noticias/verNoticia/}+${nt.id_noticia}" title="noticia caida" value="Redirect Page">
                <img id="imagenNot" th:src=@{${nt.getMainImagePath}}  >
              </a>

            </div>
              <div class="row" id="contenidonotseccion">
                
                 
                    
                      <p id="contenidoNoticia" th:text="${nt.contenido}"></p>
                   
        
              </div>
              <div class="row" id="contenidoverseccion">
                <a id="vermas" th:href="@{/views/noticias/verNoticia/}+${nt.id_noticia}" > Ver más </a>
              </div>
              </div>
              </div>
              </div>
            
          </li>
        
          </ul>

    </div>

  </div>

  </div>
<div id="paginacionel">
  <nav aria-label="Page navigation example" id="paginacionel">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</div>


</body>
<footer th:replace="Plantillas/template :: footer"></footer>
</html>