.post {
  margin-top: 10px;
}

.post-content {
  width: 120px;
  margin-left: 10px;
  height: 500px;
}

header {
  /*top:0%;*/
  background: rgba(0, 0, 0, 255);
  width: 100%;
  position: relative;
  z-index: 100;
  color: #504f4f;
}

.main_content,
.sidebar,
.page_layout,
#noticia_content {
  margin-top: 0%;
  margin-bottom: 10%;
}

.container {
  margin-top: 3%;
  margin-right: 40%;


}



#contenido {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

#imagenNot {
  margin-right: 10px;
}

.post {
  margin-right: 2%;
}

#contenidoNoticia {
  white-space: nowrap;
  width: 90%;
  height: 100px;
  text-align: center;
  overflow: hidden;
  margin-right: 3%;
  display: block;
  text-overflow: ellipsis;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

#noticiatexto {
  white-space: pre-wrap;
  overflow-wrap: break-word;

  height: 40px;
  word-break: normal;
}

.pre-text-wrap {
  white-space: normal !important;
  word-break: break-all;
}

p {
  white-space: pre-wrap;
  overflow-wrap: break-word;

  word-break: normal;
}


#boton,
#formulario {
  margin: 0;
}

#recordatorio {
  color: dimgrey;
}

footer,
.bg-dark,
#pie {
  background-color: rgba(0, 0, 0, 255);
  position: initial;

}


#contacto {
  color: rgba(48, 193, 199, 255);
  font-size: 27px;
  font-family: 'Kanit', sans-serif;
}

#numtel,
#ubicacion {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 20px;
}

#formulariocontacto {
  margin-top: 20%;
}

.social {
  /*las imágenes usadas tienen width de 48px*/

  margin-left: 4%;
  margin-bottom: 7%;
}

#espacioalto {
  margin-top: 4%;
  margin-bottom: 10%;
  margin-right: 15%;
}

#footer {
  margin-top: 10%;
  margin-left: 4%;
  margin-right: 7%;
  bottom: 0;
}


#centrar {
  margin-top: 5%;
  margin-left: 12%;
  margin-right: 10%;
}


#espacioinput {
  margin-bottom: 4%;
}

#espaciocontacto {
  margin-top: 20%;
  margin-bottom: 15%;
}

#ubicacion,
#numtel,
#copy {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 25px;
}

#copy {
  font-size: 20px;
}

#infomisitio {
  font-size: 27px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

#enviarcorreo {
  color: #30c1c7;
  border-color: #30c1c7;
}

#bordeado {
  margin-left: 5%;
  margin-right: 2%;
  margin-top: 3%;
}

#textnosotros {
  font-family: 'Maven Pro', sans-serif;
  color: #212121;
  font-size: 14px;
  line-height: 200%;
}


#textocentrado {
  text-align: center;
  font-size: 150%;
  margin-right: 10%;
}

#textopcentrado {
  text-align: center;
  font-size: 150%;
  margin-right: 25%;
}

#imagenes {
  align-items: center;
  align-content: center;
  align-self: center;
  margin-left: 15%;
}


#imagenNot {
  width: 80%;
  height: 100%;
  max-width: 400px;
  max-height: 200px;
  object-fit: cover;
}

div.SeccionTit img.izquierda {
  float: left;
  margin-right: 10px;
}

div.SeccionTit {
  border-left: 40%;
  border-right: 10%;
  padding: auto;
  margin-left: 0%;

  top: 50%;
  margin-top: -25px;
}

div.SeccionTit #tituloseccion {
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: #0A497B;
}

div.unanoticia {
  margin: 2%;
  border-color: #c6c6c6;
  border-width: 11px;
  border-style: solid;
  height: 100%;
  border-radius: 3%;

}


li#noticiasseccion.post {
  height: 400%;

  border-color: red;
  margin-bottom: 5%;
  margin-left: 5%;
}



@media screen and (min-height: 250px) {
  img#fotoautor {
    background-color: blue;
    border-radius: 150px;
  }
}

@media screen and (min-width: 480px) {
  img#fotoautor {
    background-color: yellow;

  }
}


div#seccionautor.col-4 {
  margin-top: 4%;
  margin-left: 4%;


}

img.banner {
  width: 110%;
  position: relative;
}


#textoautor {

  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  font-style: inherit;
  text-align: center;


}

#vermas {
  font-family: 'Montserrat', sans-serif;
}

#infoautor {
  margin-top: 4%;

}

#titulonoticiaseccion {
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  font-weight: bold;
  align-content: center;
  padding-left: 4%;




}

a#titulonoticiasecciona {
  color: black;
  text-decoration: none;
}

#contenidoNoticia,
#titulonoticiaseccion {
  text-align: center;
}

#contenidoNoticia {
  height: 50%;
}

#bordeadoseccion {
  margin-left: 2%;
  margin-right: 10%;
  margin-top: 4%;
  height: 20%;
}

#imagennoticiasborde {
  margin-left: 17%;
  margin-right: 9%;
  padding-top: 0%;

}

div#contenidonotseccion.row {
  margin-top: 5%;
  height: 10%;

}

#vermas {
  float: right;
  text-align: end;
}

div#contenidoverseccion.row {
  margin-right: 5%;
  margin-bottom: 2%;
}

div#tituloespacio {
  margin-bottom: 6%;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

header {
  background-color: rgba(0, 0, 0, 255);
}

nav.navbar.navbar-expand-lg.navbar-fixed-top {
  background-color: rgba(0, 0, 0, 255);
  position: relative;
}

div#imageninicio {
  margin-top: 10%;
  margin-left: 4%;
}

img#imginiciolog {
  width: 100%;
}

h3#letrasinicio {
  font-size: 45px;
  font-family: 'Kanit', sans-serif;
  font-weight: bolder;
  text-align: center;
  color: rgb(34, 54, 76);
}

div.col-6 h6.box_header.page_margin_top {
  color: rgb(34, 54, 76);
}

div#textoinicio {
  margin-top: 80%;
}


#listadenotas {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;

}

#elementolistanotas.post {
  float: right;
}

#elementolistanotas.post a {
  text-align: center;
  padding: 0%;
  text-decoration: none;
}


div#listadoseccion {
  margin-left: 1%;
  margin-top: 2%;
}

div#separandonotas {
  margin-left: 0%;
}

h6.box_header.page_margin_top {
  font-size: 20px;
  font-weight: 700;
}

h6#vermasseccion.box_header.page_margin_top {
  text-align: right;
  margin-right: 4%;
  text-decoration: underline;
}

div.post-content h6 a {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

  text-overflow: ellipsis;
  font-size: small;
}


div.post-content.col-8 {
  margin-left: 0%;
  text-align: center;
}

a.btn.btn-primary.btn-lg {
  display: block;
  border-radius: 35px;
  width: 100%;
  height: 50%;
  font-size: small;
  text-align: center;
  margin-top: 6%;
  margin-bottom: 10%;
  font-weight: 500;
  padding: 3%;
  color: white;
  background-color: #30c1c7;
  border-color: #30c1c7;

}


ul li:hover ul {
  display: block;
  visibility: visible;
}

ul.dropdown-menu {
  background-color: #000;
  opacity: 0.66 !important;
}



div#navbarNav.collapse.navbar-collapse ul.navbar-nav li.nav-item a {
  color: #30c1c7;
  font-size: 13px;

}

div#navbarNav.collapse.navbar-collapse {
  float: right;
  margin-right: 10%;
}


div#navbarNav.collapse.navbar-collapse ul.navbar-nav li.nav-item {

  margin-right: 3%;
}

div#myDropdown.dropdown-content li a.dropdown-item {
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


}

div#elementos-izquierda div.row div.col-2 {
  margin-left: 0%;
  margin-right: 0%;
  padding: 0%;
}


div#navbarNav.collapse.navbar-collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu div#myDropdown.dropdown-content li a.dropdown-item {
  color: white;
  opacity: 1;
}

ul.dropdown-menu li a:hover,
ul.dropdown-menu li a:focus {
  background-color: rgb(75, 68, 68);
  font-weight: 200;
  color: #30c1c7;

}

div#navbarNav.collapse.navbar-collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu div#myDropdown.dropdown-content li a.dropdown-item:focus,
div#navbarNav.collapse.navbar-collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu div#myDropdown.dropdown-content li a.dropdown-item:hover {
  color: #30c1c7;

}

h6#titulo-inicio-lista a,
h6#titulo-inicio-lista {
  white-space: nowrap;
  color: black;
  margin-top: 1%;

  text-align: center;
  overflow: hidden;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
}

div#noticia-enlistada.col-12 {
  width: 100%;
  margin-left: 10%;
}


#logopais {
  width: 100%;
}

#pais {
  margin-right: 10%;
}

#logospaises {
  margin-top: 10%;
  margin-left: 0%;
  margin-right: 0%;
  display: flex;
  align-items: center;
  flex-direction: row;

}

#elementolistanotas.list-inline-item {
  width: 23%;
  height: 80%;
  margin-right: 0%;
  margin-top: 1%;

}

img#imgseccionlista {
  width: 104%;
  height: 11em;
  object-fit: cover;
}

div#tituloespaciolista {
  width: 18em;
}

div#tit-secc-inicio.row {
  margin-left: 1%;
}

div#inicio-logos-social.col-1 {
  margin-top: 24%;
}


div#logo-social {
  margin-top: 30%;
}

ul#listadenotas.list-inline {}

div#content-seccion {
  margin-top: 0%;
}

div#bordeado {
  margin-top: 0%;
  margin-left: 2%;
  margin-right: 2%;

}

img.izquierda {
  width: 14%;
  float: initial;
}

img#img-top {
  margin-top: 5%;
}


/* searchbar */
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #30c1c7;
}

i.fa.fa-search {
  color: #30c1c7;
  width: 100%;
}

div.input-group {
  margin-top: 3%;
  margin-left: 20%;
  width: 80%;

}

input.form-control.border-end-0.border.rounded-pill {

  height: 20%;
  font-size: 11px;
  background-color: #000;
  color: #30c1c7;

  border-style: solid;
  border-color: #30c1c7;

  forecolor: #999999;

}

div.paginacionel {
  align-items: center;
}

ul.pagination {
  align-items: center;
  justify-content: center;
  border-style: none;
}

#nota.card-body{
  height: 10rem;
  overflow-y: scroll;
}