<footer class="text-white bg-dark">
    <div id="footer" name="footer">
        <div class="row">
            <div class="col-4">
                <div name="espaciocontacto" id="espaciocontacto">
                    <h3 style="text-align: left;" name="contacto" id="contacto">CONTACTO</h3>
                </div>
                <div name="espacioalto" id="espacioalto">

                    <h4 style="text-align: left;" name="ubicacion" id="ubicacion">Av. Lorem impusm 122
                        <br>
                        28021 Cancún.
                    </h4>
                </div>
                <div name="espacioalto" id="espacioalto">
                    <h4 style="text-align: left;" name="numtel" id="numtel">Tel: 914-123-456
                    </h4>
                    <h4 style="text-align: left;" name="numtel" id="numtel">
                        Fax: 914-123-456</h4>
                </div>
                <div name="espacioalto" id="espacioalto">
                    <h4 style="text-align: left;" name="infomisitio" id="infomisitio">info@misitio.com</h4>
                </div>
                <div class="social">
                    <a href="#"><img style="width:15%; height:15%;" src="/img/instagram.png" alt="instagram"></a>
                    <a href="https://www.facebook.com/unioneslogro/"><img style="width: 16%; height:16%;"
                            src="/img/facebook.png" alt="facebook"></a>
                </div>

                <div name="espacioalto" id="espacioalto">
                    <h4 style="text-align: left;" name="copy" id="copy">© 2022 para Unión es Logro</h4>
                </div>

            </div>
            <div class="col-2">
            </div>

            <div class="col-6">
                <div id="formulariocontacto" name="formulariocontacto">
                    <form action="/views/sendMail" method="POST">
                        <div class="form-group row" id="espacioinput">
                            <input type="text" class="form-control  " id="nombre" name="nombre" placeholder="Nombre">
                        </div>
                        <div class="form-group row" id="espacioinput">
                            <input type="text" class="form-control " id="correo" name="correo"
                                placeholder="Correo Electronico">
                        </div>
                        <div class="form-group row" id="espacioinput">
                            <input type="text" class="form-control  col-md" name="telefono" id="telefono"
                                placeholder="Telefono/Celular">
                        </div>
                        <div class="form-group row" id="espacioinput">
                            <textarea class="form-control col-md" id="mensaje" name="mensaje" rows="6"
                                placeholder="Escribe tu mensaje aqui"></textarea>
                        </div>
                        <input type="submit" class="btn btn-outline-primary" name="action" value="Enviar"
                            id="enviarcorreo">
                    </form>
                </div>
            </div>
        </div>
    </div>



    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Source+Sans+Pro&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Karla:wght@500&family=Source+Sans+Pro&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@600&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300&display=swap"
        rel="stylesheet">
</footer>