<div class="wrapper">
    <div class="sidebar">
        <div class="container">
           <h5>Menu User</h5>        
            <ul>
                <li><a href="/user/news/status/0">Borradores</a></li>
                <li><a href="/user/news/status/1">Enviadas</a></li>
                <li><a href="/user/news/status/2">Aceptadas</a>
                </li>
                <li><a href="/user/news/status/3">Rechazadas</a>
                </li>
                <li><a href="/user/buzon">Buzon</a></li>
                <li><a href="/user/perfil">Perfil</a></li>
                <hr>
                <li><a href="/">Home</a></li>
                <li><a class="btn btn-primary btn-sm" href="/logout">Cerrar Sesión</a></li>
            </ul> 
        </div>
        
    </div>
</div>