<div class="wrapper">
    <div class="sidebar">
        <h2 inline="text">Menu Admin</h2>
        <ul>
            <li><a href="/admin/recibidas">Recibidas</a></li>
            <li><a href="/admin/aceptadas">Aceptadas</a></li>
            <li><a href="/admin/rechazadas">Rechazadas</a>
            </li>
            <hr>
            <li><a href="/">Home</a></li>
            <li><button class="btn btn-primary btn-sm btn-disabled" href="/logout" disabled>Cerrar Sesión</button></li>
        </ul>
    </div>
</div>