<div class="wrapper">
    <div class="sidebar">
        <h2>Menu User</h2>
        <ul>
            <li><a href="/user/borradores">Borradores</a></li>
            <li><a href="/user/Enviadas">Enviadas</a></li>
            <li><a href="/user/Aceptadas">Aceptadas</a>
            </li>
            <li><a href="/user/Rechazadas">Rechazadas</a>
            </li>
            <li><a href="/user/buzon">Buzon</a></li>
            <hr>
            <li><a href="/">Home</a></li>
            <li><button class="btn btn-primary btn-sm btn-disabled" href="/logout" disabled>Cerrar Sesión</button></li>
        </ul>
    </div>
</div>