<div class="wrapper">
    <div class="sidebar">        
        <div class="container">
            <h5>Menu Administrador</h5>
            <ul>
                <li><a href="/admin/news/status/0">Recibidas</a></li>
                <li><a href="/admin/news/status/1">Aceptadas</a></li>
                <li><a href="/admin/news/status/2">Rechazadas</a></li>
                <li><a href="/admin/users">Autores</a></li>
                <hr>
                <li><a href="/">Pagina principal</a></li>
                <hr>
                <a type="button" class="btn btn-primary btn-sm" href="/logout">Cerrar Sesión</a>            
            </ul>   
        </div>        
    </div>
</div>