<div class="wrapper">
    <div class="sidebar">
        <header><h2>Menu User</h2></header>        
        <ul>
            <li><a href="/user/borradores">Borradores</a></li>
            <li><a href="/user/Enviadas">Enviadas</a></li>
            <li><a href="/user/Aceptadas">Aceptadas</a>
            </li>
            <li><a href="/user/Rechazadas">Rechazadas</a>
            </li>
            <li><a href="/user/buzon">Buzon</a></li>
            <li><a href="/user/perfil">Perfil</a></li>
            <hr>
            <li><a href="/">Home</a></li>
            <li><a class="btn btn-primary btn-sm" href="/logout">Cerrar Sesión</a></li>
        </ul>
    </div>
</div>