
    <h1 inline="text">Hello Admin</h1>
    <form action="/logout" method="post">
        <input type="submit" value="Cerrar Sesion"/>
    </form>
    <h1><a href="/admin"> admin</a> | <a href="/user"> user</a></h1>
