<!--sidebar -->
<div class="wrapper">
    <div class="sidebar">
        <h2>Noticias</h2>
        <ul>
            <li><a th:href="@{/user/views/noticias/}">Borradores</a></li>
            <li><a th:href="@{/user/views/noticias/Enviadas/}">Enviadas</a></li>
            <li><a th:href="@{/user/views/noticias/Aceptadas/}"><i class="bi bi-check-circle"></i>Aceptadas</a></li>
            <li><a th:href="@{/user/views/noticias/Enviadas/}"><i class="bi bi-coin"></i>Con Ganancias</a></li>
            <li><a th:href="@{/user/views/noticias/anotaciones/}"><i class="bi bi-envelope"></i>Buzon</a></li>
        </ul>
    </div>
</div>

<!--fin sidebar -->